@import "func";
@import "bootstrap";
@import "theme";


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Clear Sans';
    font-weight: 400;
}

.home-wrap {   
    width: 100%;
    background-size: 100%;

}

.top-nav {
    padding: 40px;

    .elements {
        float: right;

        .item {
            @include get-font-style(1.2em, none, $home-text-color);
            padding: 0px 10px;
            border-left: 2px solid $home-text-color;

            &:last-child {
                border: none;
            }

            &:hover {
                color: $home-hover-text-color
            }
        }


    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }    
}

.content-container {
    width: 100%;
    height: 100%;
    padding: 0px 40px;
    margin: 0 auto;
    overflow: hidden;
}

/*.files-container {
    width: 100%;
    height: 100%;
    padding: 0px 40px;
    margin: 0 auto;
    overflow: hidden;
}*/

.file-path {
    padding-left: 10px;

    .btn-default {
        border-color: $file-path-button-border-color;
        border-radius: 3px;

        span {
            display: none;
            padding-right: 5px;
        }

        &:hover {
            background: $file-path-button-border-color;
        }

        &:first-child {

            span {
                display: inline-block;
            }
        }
    }
}

.file-list {
    overflow: auto;
    padding: 10px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    .file-list-item {
        float: left;
        margin: 10px;
        padding: 5px;
        width: 100%;
        border: 1px solid $list-item-border-color;
        border-radius: 3px;
        cursor: pointer;
        position: relative;

        .item-icon {
            width: 100%;
            margin-bottom: 25px;

            > div {
                margin: 0 auto;
            }
        }

        .name {
            position: absolute;
            bottom: 0;
            width: 95%;
            padding: 3px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &:hover {
            background: $file-path-button-border-color;
        }
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }    
}

.files-elements {
    min-height: 100%;
    padding: 20px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.files-events {
    display: block;

    .btn {
        border-color: $file-path-button-border-color;
        border-radius: 3px;
        width: 100%;
        display: block;
        text-align: left;
        outline: none;

        span {
            padding-right: 5px;
        }

    }

    .btn-default {

        &:hover {
            background: $file-path-button-border-color;
        }

    }

    .btn-group {
        .btn-default {

            border-color: $file-path-button-border-color;
            border-radius: 3px;
            width: 100%;
            display: block;
            text-align: left;
            outline: none;            

            &:hover {
                background: $file-path-button-border-color;
            }

        }

        .dropdown-menu {
            top: -5%;
            right: 101%;
            border-color: $file-path-button-border-color;
            border-radius: 3px;
            box-shadow: none;
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .file-list {

        .file-list-item {
            width: 229px;
        }

    }    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    .file-list {

        .file-list-item {
            width: 194px;
        }

    }  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
    .file-list {

        .file-list-item {
            width: 177px;
        }

    }  
}

.editor-container {
    width: 100%;
    height: 100%;
    padding: 0px 40px;
    margin: 0 auto;

    .editor-elements {

    }
}

#editor-container {
    width: 100%;
    border: 1px solid $list-item-border-color;
    border-radius: 3px;
    margin: 10px;
}

.alert-container {
    position: fixed;
    top: 130px;
    right: 30px;
    z-index: 100;
    padding: 20px;
    width: 300px;

    alert {
        transition: all 0.5s ease 0s;
    }
}

.upload-file-modal {
    .files-queue {

        .files-queue-item {
            padding: 5px;

            div {
                float: right;
                margin-left: 10px;

                &.upload-progress {
                    width: 40px;

                    div {
                        width: 100%;
                    }
                }

                &:first-child {
                    margin-left: 0px;
                    float: left;
                }
            }

            &:after {
                content: '';
                display: table;
                clear: both;
            }
        }

    }
}

.prop-file-modal {

    .commit-list {
        padding-top: 20px;

        .commit-list-item {
            margin-bottom: 20px;
            
            p {
                margin: 2px;
            }
        }
    }
}

.btn-file-input {
    position: relative;
    overflow: hidden;

    input {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;

    }

}

