@import "theme";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Clear Sans';
    font-weight: 400;
}

.index-wrap {
    height: 100%;
    width: 100%;
    background: url(/public/images/index-bg.jpg) center; 
    background-size: 100%;
}

.nav {
    padding: 40px;
    
    a {
        float: right;
        color: #FFF;
        font-size: 1.2em;
        text-decoration: none;
        padding: 0px 10px;
        opacity: 0.7;
        border-left: 2px solid #FFF;
        
        &:last-child {
            border: none;
        }
        
        &:hover {
            opacity: 1;
        }
    }
    
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}