@import "theme";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Clear Sans';
    font-weight: 400;
}


.login-wrap {
    height: 100%;
    width: 100%;
    
    section {
        width: 500px;
        margin: 0 auto;
        padding: 10% 0;
    } 
    
}