@import "http://webfonts.ru/import/clearsans.css";

//COLORS
$home-text-color: #333333;
$home-hover-text-color: #0B9DDB;

$list-item-border-color: #EEE;
$file-path-button-border-color: #EEE;


//ICONS
.icon-attr {
    width: 96px;
    height: 96px;
    
}
.icon-dir { background: url(/public/images/icon-dir.png); background-size: cover; }
.icon-file { background: url(/public/images/icon-file.png); background-size: cover; }

//CALLOUT
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-container {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-radius: 3px;
    border-left-width: 1px;
    border-left-color: #eee;
}