@import "http://webfonts.ru/import/clearsans.css";
.icon-attr {
  width: 96px;
  height: 96px; }

.icon-dir {
  background: url(/public/images/icon-dir.png);
  background-size: cover; }

.icon-file {
  background: url(/public/images/icon-file.png);
  background-size: cover; }

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px; }

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px; }

.bs-callout p:last-child {
  margin-bottom: 0; }

.bs-callout code {
  border-radius: 3px; }

.bs-callout + .bs-callout {
  margin-top: -5px; }

.bs-callout-default {
  border-left-color: #777; }

.bs-callout-default h4 {
  color: #777; }

.bs-callout-primary {
  border-left-color: #428bca; }

.bs-callout-primary h4 {
  color: #428bca; }

.bs-callout-success {
  border-left-color: #5cb85c; }

.bs-callout-success h4 {
  color: #5cb85c; }

.bs-callout-danger {
  border-left-color: #d9534f; }

.bs-callout-danger h4 {
  color: #d9534f; }

.bs-callout-warning {
  border-left-color: #f0ad4e; }

.bs-callout-warning h4 {
  color: #f0ad4e; }

.bs-callout-info {
  border-left-color: #5bc0de; }

.bs-callout-info h4 {
  color: #5bc0de; }

.bs-container {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  border-radius: 3px;
  border-left-width: 1px;
  border-left-color: #eee; }

.editor-elements {
  overflow: auto;
  padding: 10px 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.user-list .user-list-item {
  border-color: #EEE;
  padding: 2px 15px; }
  .user-list .user-list-item .glyphicon {
    vertical-align: middle; }
  .user-list .user-list-item h5 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px; }

.file-events {
  display: block; }
  .file-events .btn {
    border-color: #EEE;
    border-radius: 3px;
    width: 100%;
    display: block;
    text-align: left;
    outline: none; }
    .file-events .btn span {
      padding-right: 5px; }
  .file-events .btn-default:hover {
    background: #EEE; }

/*# sourceMappingURL=quilleditor.css.map */
