@import "../../theme";

.quill-editor-container {

}

.editor-elements {
    overflow: auto;
    padding: 10px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.user-list {

    .user-list-item {
        border-color: $file-path-button-border-color;
        padding: 2px 15px;

        .glyphicon {
            vertical-align: middle;
        }

        h5 {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
}

.file-events {
    display: block;

    .btn {
        border-color: $file-path-button-border-color;
        border-radius: 3px;
        width: 100%;
        display: block;
        text-align: left;
        outline: none;

        span {
            padding-right: 5px;
        }

    }

    .btn-default {

        &:hover {
            background: $file-path-button-border-color;
        }

    }
}