<div class="quill-editor-container" ng-controller="editorController" ng-init="init()">
    <input type="hidden" name="target-port" value="<%= targetPort %>">
    
    <div class="file-path">
        <div class="btn-group">
            <label class="btn btn-default btn-lg" ng-repeat="path in pathList" 
                   ng-click="loadDir(path.path)">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                {{path.dirName}}
            </label>
        </div>
    </div>

    <div class="row file-edit-row">
        <div class="col-md-10">



            <div id="editor-container">
                <div class="advanced-wrapper">
                    <div class="toolbar-container"><span class="ql-format-group">
                            <select title="Font" class="ql-font">
                                <option value="sans-serif" selected>Sans Serif</option>
                                <option value="Georgia, serif">Serif</option>
                                <option value="Monaco, 'Courier New', monospace">Monospace</option>
                            </select>
                            <select title="Size" class="ql-size">
                                <option value="10px">Small</option>
                                <option value="13px" selected>Normal</option>
                                <option value="18px">Large</option>
                                <option value="32px">Huge</option>
                            </select></span><span class="ql-format-group"><span title="Bold" class="ql-format-button ql-bold"></span><span class="ql-format-separator"></span><span title="Italic" class="ql-format-button ql-italic"></span><span class="ql-format-separator"></span><span title="Underline" class="ql-format-button ql-underline"></span></span><span class="ql-format-group">
                            <select title="Text Color" class="ql-color">
                                <option value="rgb(0, 0, 0)" selected></option>
                                <option value="rgb(230, 0, 0)"></option>
                                <option value="rgb(255, 153, 0)"></option>
                                <option value="rgb(255, 255, 0)"></option>
                                <option value="rgb(0, 138, 0)"></option>
                                <option value="rgb(0, 102, 204)"></option>
                                <option value="rgb(153, 51, 255)"></option>
                                <option value="rgb(255, 255, 255)"></option>
                                <option value="rgb(250, 204, 204)"></option>
                                <option value="rgb(255, 235, 204)"></option>
                                <option value="rgb(255, 255, 204)"></option>
                                <option value="rgb(204, 232, 204)"></option>
                                <option value="rgb(204, 224, 245)"></option>
                                <option value="rgb(235, 214, 255)"></option>
                                <option value="rgb(187, 187, 187)"></option>
                                <option value="rgb(240, 102, 102)"></option>
                                <option value="rgb(255, 194, 102)"></option>
                                <option value="rgb(255, 255, 102)"></option>
                                <option value="rgb(102, 185, 102)"></option>
                                <option value="rgb(102, 163, 224)"></option>
                                <option value="rgb(194, 133, 255)"></option>
                                <option value="rgb(136, 136, 136)"></option>
                                <option value="rgb(161, 0, 0)"></option>
                                <option value="rgb(178, 107, 0)"></option>
                                <option value="rgb(178, 178, 0)"></option>
                                <option value="rgb(0, 97, 0)"></option>
                                <option value="rgb(0, 71, 178)"></option>
                                <option value="rgb(107, 36, 178)"></option>
                                <option value="rgb(68, 68, 68)"></option>
                                <option value="rgb(92, 0, 0)"></option>
                                <option value="rgb(102, 61, 0)"></option>
                                <option value="rgb(102, 102, 0)"></option>
                                <option value="rgb(0, 55, 0)"></option>
                                <option value="rgb(0, 41, 102)"></option>
                                <option value="rgb(61, 20, 102)"></option>
                            </select><span class="ql-format-separator"></span>
                            <select title="Background Color" class="ql-background">
                                <option value="rgb(0, 0, 0)"></option>
                                <option value="rgb(230, 0, 0)"></option>
                                <option value="rgb(255, 153, 0)"></option>
                                <option value="rgb(255, 255, 0)"></option>
                                <option value="rgb(0, 138, 0)"></option>
                                <option value="rgb(0, 102, 204)"></option>
                                <option value="rgb(153, 51, 255)"></option>
                                <option value="rgb(255, 255, 255)" selected></option>
                                <option value="rgb(250, 204, 204)"></option>
                                <option value="rgb(255, 235, 204)"></option>
                                <option value="rgb(255, 255, 204)"></option>
                                <option value="rgb(204, 232, 204)"></option>
                                <option value="rgb(204, 224, 245)"></option>
                                <option value="rgb(235, 214, 255)"></option>
                                <option value="rgb(187, 187, 187)"></option>
                                <option value="rgb(240, 102, 102)"></option>
                                <option value="rgb(255, 194, 102)"></option>
                                <option value="rgb(255, 255, 102)"></option>
                                <option value="rgb(102, 185, 102)"></option>
                                <option value="rgb(102, 163, 224)"></option>
                                <option value="rgb(194, 133, 255)"></option>
                                <option value="rgb(136, 136, 136)"></option>
                                <option value="rgb(161, 0, 0)"></option>
                                <option value="rgb(178, 107, 0)"></option>
                                <option value="rgb(178, 178, 0)"></option>
                                <option value="rgb(0, 97, 0)"></option>
                                <option value="rgb(0, 71, 178)"></option>
                                <option value="rgb(107, 36, 178)"></option>
                                <option value="rgb(68, 68, 68)"></option>
                                <option value="rgb(92, 0, 0)"></option>
                                <option value="rgb(102, 61, 0)"></option>
                                <option value="rgb(102, 102, 0)"></option>
                                <option value="rgb(0, 55, 0)"></option>
                                <option value="rgb(0, 41, 102)"></option>
                                <option value="rgb(61, 20, 102)"></option>
                            </select><span class="ql-format-separator"></span>
                            <select title="Text Alignment" class="ql-align">
                                <option value="left" selected></option>
                                <option value="center"></option>
                                <option value="right"></option>
                                <option value="justify"></option>
                            </select></span><span class="ql-format-group"><span title="Link" class="ql-format-button ql-link"></span><span class="ql-format-separator"></span><span title="Image" class="ql-format-button ql-image"></span><span class="ql-format-separator"></span><span title="List" class="ql-format-button ql-list"></span></span></div>
                    <div class="editor-container"></div>
                </div>
            </div>

        </div>
        <div class="col-md-2">
            <div class="editor-elements">
                <div class="btn-group-vertical file-events" role="group" aria-label="">
                    <button type="button" class="btn btn-default btn-lg" ng-click="save()">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        Сохранить
                    </button>
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        Параметры
                    </button>
                    <button type="button" class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Удалить
                    </button>
                </div>
                <h4>Редакторы</h4>
                <ul class="user-list list-group">
                    <li class="user-list-item list-group-item" ng-repeat="user in userList">
                        <span class="glyphicon glyphicon-user" aria-hidden="true" 
                              style="color: {{user.color}}; font-size: 2em;"></span>
                        <h5>{{user.name}}</h5>
                    </li>
                </ul>
            </div>
        </div>  
    </div>
    
    
    
    
    
</div>
