<div class="files-container" ng-controller="filelistController" ng-init="init()">

    <div class="file-path">
        <div class="btn-group">
            <label class="btn btn-default btn-lg" ng-repeat="path in pathList" 
                   ng-click="loadDir(path.path)">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                {{path.dirName}}
            </label>
        </div>
    </div>

    <div class="row file-list-row">
        <div class="col-md-10">

            <div class="col-files">

                <div class="file-list">
                    <div class="file-list-item" ng-repeat="file in fileList">
                        <div ng-right-click="contextMenu" ng-click="loadDir(file.path)" data="{{file.path}}" ng-if="file.type == 'dir'">
                            <div class="item-icon">
                                <div class="icon-attr icon-{{file.type}}"></div>
                            </div>
                            <p class="name">{{file.name}}</p>
                        </div>
                        <div ng-right-click="contextMenu" ng-click="loadFile(file.path)" data="{{file.path}}" ng-if="file.type == 'file'">
                            <div class="item-icon">
                                <div class="icon-attr icon-{{file.type}}"></div>
                            </div>
                            <p class="name">{{file.name}}</p>
                        </div>                        
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-2">
            <div class="files-elements">
                <div class="btn-group-vertical files-events" role="group" aria-label="">
                    <div class="btn-group" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-default btn-lg dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Создать
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="" ng-click="modal('create-file-modal', 'createFileModalController')">Файл</a></li>
                            <li><a href="" ng-click="modal('create-dir-modal', 'createDirModalController')">Папка</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default btn-lg"
                            ng-click="modal('upload-file-modal', 'uploadModalController')">
                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                        Загрузить
                    </button>

                </div>
            </div>
        </div>
    </div>


    <script type="text/ng-template" id="create-file-modal">
        <div class="modal-header">
        <h3 class="modal-title">Создать файл</h3>
        </div>
        <div class="modal-body">
        <div class="form-group">
        <label for="create-file-name">Имя файла:</label>
        <input type="text" class="form-control" id="create-file-name" ng-model='fileName'>
        </div>
        </div>
        <div class="modal-footer">  
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="create-dir-modal">
        <div class="modal-header">
        <h3 class="modal-title">Создать папкy</h3>
        </div>
        <div class="modal-body">
        <div class="form-group">
        <label for="create-dir-name">Имя папки:</label>
        <input type="text" class="form-control" id="create-dir-name" ng-model='dirName'>
        </div>
        </div>
        <div class="modal-footer">  
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="remove-file-modal">
        <div class="modal-header">
        <h3 class="modal-title">Удалить файл</h3>
        </div>
        <div class="modal-body">
        <p>Вы уверенны что хотите удалить файл?</p>
        </div>
        <div class="modal-footer">  
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>    


    <script type="text/ng-template" id="prop-file-modal">
        <div class="modal-header">
            <h3 class="modal-title">Параметры файла</h3>
        </div>
        <div class="modal-body prop-file-modal">
              <tabset>
                <tab heading="Основные параметры">
                
                    <div class="form-group">
                        <label for="file-name">Имя файла:</label>
                        <input type="text" class="form-control" id="file-name" ng-model='file.fileName'>
                    </div>
            
                    <div class="form-group">
                        <label>Добавить пользователей:</label>
                            <tags-input ng-model="file.users" min-length="1">
                                <auto-complete source="loadUsers($query)"></auto-complete>
                            </tags-input>
                    </div>
            
                    <button type="button" class="btn btn-default" ng-model="file.published" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Опубликован</button>
                
                </tab>
                <tab heading="История изменений">
                    <div class="row">
                        <div class="col-md-4">
                        
                            <ol class="commit-list">
                                <li class="commit-list-item" ng-repeat="commit in commits">
                                
                                    <p>{{commit.message}}</p>
                                    <p>Автор: <strong>{{commit.author.name}}</strong></p>
                                    <p>Дата: {{commit.date}}</p>
                                    <a href="#" ng-click="getFileHistory(commit.hash)">Подробнее...</a> 
                                </li>
                            </ol>
                            
                        </div>
                        <div class="col-md-8">
                            <div class="commit-info">
                                <div class="bs-callout bs-callout-success" ng-if="history">
                                    <h4>{{history.hash}}</h4>
                                    <h5>{{history.message}}</h5>
                                    <p>Автор: <b>{{history.author.name}}</b>    Дата: {{history.date}}</p>

                                    <div class="bs-callout-danger bs-container" ng-if="history.changes">
                                        <h4>Удалено</h4>
                                        {{history.changes.remove}}
                                    </div>            
            
                                    <div class="bs-callout bs-container" ng-if="history.changes">
                                        <h4>Добавлено</h4>
                                        {{history.changes.add}}
                                    </div>
                                    
                                    <button class="btn btn-default" ng-click="revert(history.hash)">Восстановить</button>
                                </div>
                            </div>
                        </div>                
                    </div>
                </tab>
              </tabset>
        </div>
        <div class="modal-footer">  
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>      

    <script type="text/ng-template" id="upload-file-modal">
        <div class="modal-header">
        <h3 class="modal-title">Загрузить файл</h3>
        </div>
        <div class="modal-body upload-file-modal">



        <div class="files-queue">
        <div class="files-queue-item" ng-repeat="item in uploader.queue">
        <div ng-bind="item.file.name"></div>



        <div>
        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
        <span class="glyphicon glyphicon-upload"></span> Upload
        </button>
        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
        <span class="glyphicon glyphicon-trash"></span> Remove
        </button>
        </div>
        <div class="text-center">
        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </div>
        <div class="upload-progress" ng-show="uploader.isHTML5">
        <div class="progress" style="margin-bottom: 0;">
        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
        </div>
        </div>
        <div ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</div>            
        </div>


        <div class="files-queue-all">


        <div class="btn btn-default btn-file-input">
        Выбрать файл
        <input class="btn btn-default btn-file-input" type="file" nv-file-select="" uploader="uploader" multiple  />
        </div>



        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
        </div>

        </div>

        </div>
        <div class="modal-footer">  
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>      

</div>