<!DOCTYPE html>  
<html ng-app="teamedit">
    <head>
        <title>Team Edit</title>
        <link rel="stylesheet" href="/public/css/home.css">
        <link rel="stylesheet" href="/public/css/ng-tags-input.css">
    </head>
    <body>

        <div class="home-wrap" ng-controller="homeController" ng-init="init()">

            <div class="top-nav">
                <div class="logo"></div>

                <div class="elements">
                    <span><%= userName %></span>
                    <a class="item" href="/logout">Выход</a>
                </div>
            </div>
            
            <input type="hidden" name="target-user" value="<%= targetUserName %>">
            <input type="hidden" name="target-path" value="<%= targetPath %>">
            
            <div class="content-container">
                
            </div>
            
            <div class="alert-container">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            

        </div>

        <script src="/public/js/angular.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script src="/public/js/angular-file-upload.min.js"></script>
        <script src="/public/js/ng-tags-input.js"></script>
        <script src="/public/js/socket.io.js"></script>
        <script src="/public/js/home.js"></script>
    </body>
</html>