<!DOCTYPE html>  
<html ng-app>
    <head>
        <title>Team Edit</title>
        <link rel="stylesheet" href="/public/css/index.css">
    </head>
    <body>
        
        <div class="index-wrap">
            <div class="nav">
                <div class="logo"></div>
                <div class="user-events">
                    <a href="/login">Вход</a>
                </div>
            </div>
        </div>
        
        
<!--        <div>
            <label>Name:</label>
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <hr>
            <h1>Hello {{yourName}}!</h1>
        </div>
        <%- test %>-->
        <script src="/public/js/angular.min.js"></script>
    </body>
</html>