<!DOCTYPE html>  
<html ng-app>
    <head>
        <title>Team Edit</title>
        <link rel="stylesheet" href="/public/css/login.css">
    </head>
    <body>

        <div class="login-wrap">
            <% if (typeof loginMessage != 'undefined') { %>
            <div class="alert alert-danger"><%= loginMessage %></div>
            <% } %>

            <section>
                <form action="/login" method="post">
                    <div class="form-field">
                        <label>Email</label>
                        <input type="text" class="form-input" name="email">
                    </div>
                    <div class="form-field">
                        <label>Password</label>
                        <input type="password" class="form-input" name="password">
                    </div>

                    <button type="submit" class="button">Login</button>
                </form>

                <hr>

                <p>Need an account? <a href="/signup">Signup</a></p>
                <p>Or go <a href="/">home</a>.</p>
            </section>
        </div>

        <script src="/public/js/angular.min.js"></script>
    </body>
</html>