<!DOCTYPE html>  
<html ng-app>
    <head>
        <title>Team Edit</title>
        <link rel="stylesheet" href="/public/css/index.css">
    </head>
    <body>

        <div class="login-wrap">

            <% if (typeof signupMessage != 'undefined') { %>
            <div class="alert alert-danger"><%= signupMessage %></div>
            <% } %>

            <form action="/signup" method="post">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name">
                </div>                
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Signup</button>
            </form>

            <hr>

            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>

        <script src="/public/js/angular.min.js"></script>
    </body>
</html>